# Dependencies
node_modules
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Build artifacts
dist/
*.log
*.lock

# Typescript build artifacts
*.tsbuildinfo


# Vercel / Netlify / other deployment configs
.vercel/
.netlify/

# Local environment files
.env

.env.development.local
.env.test.local
.env.production.local

# Mac / OS metadata
.DS_Store

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store
.DS_Store
.unimportedrc.json
