@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-top-color: #ba2329;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background: #c16757;
  --foreground: #000000;
  --secondary: #e8ff36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c16757;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  /* font-sans á alla þessa*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-semibold;
  }

  /* font-serif á alla linka,p og div */
  div,
  a,
  p {
    @apply font-sans;
  }
}
.vertical-text {
  writing-mode: vertical-rl; /* Can be used as RL also */
  transform: rotate(180deg);
}
